.css-qixh7c {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: static;
    background-color: transparent;
    color: inherit;
}
.jss173 {
    box-shadow: none;
    margin-bottom: 20px;
}
.css-191lty2 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
}
.css-7vbamj {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 0px -12px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.jss174 {
    flex-grow: 1;
    font-size: 16px;
}
.css-1anx036 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.css-1m6pqln {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}
.css-su6uu9 {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: -24px;
}
.css-su6uu9 > .MuiGrid-item {
    padding-left: 24px;
    padding-top: 24px;
    max-width: none;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-9l3uo3 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
form {
    display: block;
    margin-top: 0em;
}
.css-tzsjye {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
}

.css-tzsjye .css_input{
    background: rgb(238, 238, 238);
    border-radius: 10px;
}

.css_input .css_cty{
    position: absolute;
    top: 0px;
    padding: 10px 15px;
    font-size: 15px;
    color: rgb(81, 81, 81);
}

.css_input input{
    padding: 40px 15px 15px;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 19px;
    position: relative;
    z-index: 10;
}

.jss175 {
    height: 60px;
    font-size: 16px;
    background: #165FE6;
    box-shadow: none;
    border-radius: 10px;
    text-transform: none;
}

.css-1qelgoy {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 118, 210);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    width: 100%;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

/* Đường dẫn */
.css-11hlwqc {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-top: -8px;
    width: calc(100% + 8px);
    margin-left: -8px;
    -webkit-box-align: center;
    align-items: center;
}
.jss142 {
    width: 8px;
    height: 8px;
    background: #2196f3;
}
.css-11hlwqc > .MuiGrid-item{
    padding-left: 8px;
    padding-top: 8px;

}

.jss143 {
    color: #2196f3;
}
.css-1wxaqej .jss142{
    margin-top: 10px;
}


@media (min-width: 600px) {
    .css-191lty2 {
        min-height: 64px;
        padding-left: 24px;
    padding-right: 24px;
    }

    .css-1m6pqln {
        max-width: 600px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 0px) and (orientation: landscape) {

    .css-191lty2 {
        min-height: 48px;
    }
}