.css-1m6pqln {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

.jss49 {
    min-height: calc(100vh - 56px);
}
.css-1wkwmmc {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.css-1wkwmmc > .MuiGrid-item {
    max-width: none;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-1wkwmmc {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.css-1wkwmmc > .MuiGrid-item {
    max-width: none;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.jss50 {
    color: #165FE6;
    font-weight: 500;
    margin-right: 15px;
    text-decoration: none;
}


.jss59 {
    padding: 50px 0;
}
.MuiGrid-root .MuiGrid-item .css-1wxaqej{
    text-align: center;
}

.css-q5k7tr {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
}
.css-q5k7tr > .MuiGrid-item {
    padding-left: 16px;
    max-width: none;
    padding-top: 16px;
}
.jss63 {
    font-size: 33px;
    font-weight: 500;
}
.css-18h9l83 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.167;
    letter-spacing: 0em;
}

.jss62 {
    color: #B4B4B4;
}
.css-16rlg6l {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}

form {
    display: block;
    margin-top: 0em;
}

.jss64 {
    width: 100%;
    border: none;
    height: 60px;
    display: block;
    padding: 0 15px;
    font-size: 16px;
    background: #F8F8F8;
    border-radius: 20px;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.jss66 {
    position: relative;
}

.jss67 {
    top: 0;
    right: 0;
    width: 50px;
    bottom: 0;
    cursor: pointer;
    display: flex;
    z-index: 10;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.jss68 {
    color: #555;
    width: 25px;
    display: block;
}

.jss69 {
    height: 60px;
    font-size: 16px;
    background: #165FE6;
    box-shadow: none;
    border-radius: 10px;
    text-transform: none;
}

.css-1qelgoy {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 118, 210);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    width: 100%;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}



@media (min-width: 600px) {
    .css-1m6pqln {
        max-width: 600px;
        padding-left: 24px;
        padding-right: 24px;
    }

}
