.jss133 {
    box-shadow: none;
    margin-bottom: 20px;
}

.jss134 {
    flex-grow: 1;
    font-size: 16px;
}

.css-qixh7c {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: static;
    background-color: transparent;
    color: inherit;
}

.css-191lty2 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
}

.css-7vbamj {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 0px -12px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1anx036 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}

.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-1m6pqln {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}
.css-su6uu9 {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    margin-top: 70px;
    width: calc(100% + 24px);
    margin-left: -24px;
}

.css-su6uu9 > .MuiGrid-item {
    padding-left: 24px;
    padding-top: 24px;
    max-width: none;
}

.css-1wxaqej {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
}

.css-9l3uo3 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.css-1wxaqej .myphone{
    font-size: 19px;
    margin-bottom: 5px;
}

.css-1wxaqej .phone_user{
    font-size: 15px; 
    color: rgb(120, 120, 120);
}
form {
    display: block;
    margin-top: 0em;
}
.css-tzsjye {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
}
.jss138 {
    background: #eee;
    border-radius: 10px;
    opacity: 1;
}

.jss141 {
    height: 60px;
    font-size: 16px;
    background: #165FE6;
    box-shadow: none;
    border-radius: 10px;
    text-transform: none;
}
.css-1qelgoy {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 118, 210);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    width: 100%;
}   

.jss135 {
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
}
.css-1b1jvye {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.jss136 {
    top: 0;
    color: #424242;
    padding: 20px 30px;
    position: absolute;
    font-size: 15px;
}
.jss137 {
    width: 100%;
    border: none;
    display: block;
    padding: 40px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
    min-height: 60px;
}
.jss139 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss140 {
    width: 100%;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.jss156 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss157 {
    width: 100%;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
}
.jss155 {
    background: #eee;
    border-radius: 10px;
}

.jss172 {
    background: #eee;
    border-radius: 10px;
    opacity: 1;
}
.jss173 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}

.jss174  {
    width: 100%;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
    top: -11px;
}

.css-68o8xu {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    text-align: left;
}

.css-wk4je1 {
    max-width: 100%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
}

.css-9iedg7 {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
}
.css-ibaxil {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 16px 0px 8px;
    border: 0px;
    vertical-align: top;
    width: 100%;
}

.jss189{
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
}
.jss190 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}

.jss191 {
    width: 100%;
    border: none;
    display: block;
    padding: 40px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
    min-height: 60px;
}

.jss192 {
    background: #eee;
    border-radius: 10px;
    opacity: 1;
}

.jss193 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss194 {
    width: 100%;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
}
.jss195 {
    height: 60px;
    font-size: 16px;
    background: #165FE6;
    box-shadow: none;
    border-radius: 10px;
    text-transform: none;
}

.jss226 {
    background: #eee;
    border-radius: 10px;
}

.jss227 {
    text-align: left;
    top: 0;
    color: #424242;
    width: 100%;
    display: block;
    padding: 10px 15px;
    z-index: 11;
    position: absolute;
    font-size: 15px;
    background: #eee;
}
.jss228 {
    width: 558px;
    height: 66px;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
}

.jss229 {
    height: 60px;
    font-size: 16px;
    background: #165FE6;
    box-shadow: none;
    border-radius: 10px;
    text-transform: none;
}

.jss4 {
    flex-grow: 1;
    font-size: 16px;
}
.jss5 {
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
}
.jss6 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss8 {
    width: 100%;
    border: none;
    display: block;
    padding: 40px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
    min-height: 60px;
}  
.jss11 {
    background: #eee;
    border-radius: 10px;
    opacity: 1;
} 
.jss12 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss13 {
    width: 100%;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
}
.jss14 {
    height: 60px;
    font-size: 16px;
    background: #165FE6;
    box-shadow: none;
    border-radius: 10px;
    text-transform: none;
}

.jss76 {
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
}
.jss77 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss79 {
    width: 100%;
    border: none;
    display: block;
    padding: 40px 15px 15px;
    /* z-index: 10; */
    position: relative;
    font-size: 19px;
    background: transparent;
    min-height: 60px;
}

.jss82 {
    background: #eee;
    border-radius: 10px;
    opacity: 1;
}
.jss83 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss84 {
    width: 100%;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
}
.jss5 {
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
}
.jss6 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss7 {
    width: 100%;
    border: none;
    display: block;
    padding: 40px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
    min-height: 60px;
}
.jss8 {
    background: #eee;
    border-radius: 10px;
    opacity: 1;
}
.jss9 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}   
.jss10 {
    width: 100%;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
}
.jss11 {
    height: 60px;
    font-size: 16px;
    background: #165FE6;
    box-shadow: none;
    border-radius: 10px;
    text-transform: none;
}

.jss27 {
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
}
.jss28 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss29 {
    width: 100%;
    border: none;
    display: block;
    padding: 40px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
    min-height: 60px;
}
.jss30 {
    background: #eee;
    border-radius: 10px;
    opacity: 1;
}
.jss31 {
    top: 0;
    color: #424242;
    padding: 10px 15px;
    position: absolute;
    font-size: 15px;
}
.jss32 {
    width: 100%;
    border: none;
    padding: 40px 15px 15px 15px;
    z-index: 10;
    position: relative;
    font-size: 19px;
    background: transparent;
}
.jss33 {
    height: 60px;
    font-size: 16px;
    background: #165FE6;
    box-shadow: none;
    border-radius: 10px;
    text-transform: none;
}





@media (min-width: 0px) and (orientation: landscape) {
    .css-191lty2 {
        min-height: 48px;
    }
    .css-kxu0dz {
        flex-basis: 0px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    
}



@media (min-width: 600px) {
    .css-191lty2 {
        min-height: 64px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .css-1m6pqln {
        max-width: 600px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .css-kxu0dz {
        flex-basis: 0px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}
@media (min-width: 1536px) {
    .css-kxu0dz {
        flex-basis: 0px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .css-kxu0dz {
        flex-basis: 0px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}
@media (min-width: 900px) {
    .css-kxu0dz {
        flex-basis: 0px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}